html {
    background-color: rgb(0, 255, 0);   /* for chroma key */
    display: flex;
    align-content: center;
    justify-content: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font-bright {
    color: whitesmoke;
}

.font-dark {
    color: rgb(5, 5, 12);
}

.font-bold {
    font-weight: bold;
}

.font-xs {
    font-size: 8px;
}

.font-s {
    font-size: 10px;
}

.font-m {
    font-size: 12px;
}

.font-l {
    font-size: 14px;
}

.font-xl {
    font-size: 17px;
}

.font-xxl {
    font-size: 20px;
}

.background-dark {
    background-color:rgb(5, 5, 12);
}

.background-bright {
    background-color: whitesmoke;
}

.flex-max {
    flex: 1;
}