doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./classment.css
        script
            include ./controller.js
    body
        div#classment-panel
            span(class="panel-header") Classment
            div#positions-panel